* {
  box-sizing: border-box;
}

/* VARIABLES */

:root {
  --primary-bg-color: hsl(360, 2%, 17%);
  --nav-bg-color: hsl(270, 4%, 10%);
  --accent-color: hsl(63, 94%, 49%);
  --primary-text-color: whitesmoke;
  --default-text: 'Rubik', sans-serif;
}

/* BODY */

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--default-text);
}

/* TOP NAV */

.top-nav {
  background-color: var(--nav-bg-color);
  margin-bottom: 0;
}

.nav-link {
  display: inline-flex;
  font-family: var(--default-text);
  list-style: none;
  margin-right: 15px;
  margin-top: 15px;
  margin-left: 0;
  padding: 0;
}

.nav-link:hover {
  background-color: white;
  border-radius: 10px;
  padding: 0 6px;
  color: black;
  text-decoration: none;;
  transition: .75s;
}

a:hover {
  text-decoration: none;
  color: black
}

.store-name {
  font-family: 'Aladin', cursive;
  font-size: 2.25em;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  text-decoration: none;
}

ul {
  display: inline-flex;
}

.nav-left {
  padding-left: 0;
}

.hamburger {
  margin-right: 20px;
}

.hamburger-div {
  margin-right: 0;
  display: inline;
}

div.hamburger-react{
  margin-right: 20px;
  display: none;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/********** CAROUSEL **********/

.carousel {
  margin-top: 5em;
}

.carousel-img {
  width: 1080px;
  height:720px;
}
/********** WELCOME **********/

.welcome-header {
  font-family: var(--default-text);
  font-size: 3rem;
  margin-top: -40px;
  background-color: var(--nav-bg-color);
  border-radius: 5px;
  color: var(--accent-color);
  padding: 0;
}

.welcome {
  margin: 5em 3em 1.5rem 3em;
}

.jumbotron-index {
  padding-bottom: 30px;
}

.welcome-text {
    font-family: var(--default-text);
    /* font-weight: 800; */
    margin-top: 1.5rem;
}

/********** BOTTOM NAV **********/

.bottom-nav {
  background-color: rgb(22, 21, 21);
}

.colophon {
  display: inline;
  color: white;
  font-weight: 25;
  margin: 10px 0;
}

.contact {
  display: inline;
  color: var(--accent-color);
  margin: 10px 120px 10px 0;

}

/********** ABOUT PAGE **********/

.about {
  margin-bottom: 3rem;
}

.about-header {
  /* padding-top: 0; */
  /* margin-top: 10px; */
  /* margin-top: 40px; */
  color: var(--accent-color); 
  padding: 0;
  margin-top: 0;
}

.about-text {
  color: var(--primary-text-color);
  text-align: justify;
}

.jumbotron-about {
  margin-top: 1.5em;
  padding-top: 15px;
}

.founder-text {
  color: var(--nav-bg-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: bolder;
  margin-top: 10px;
}

.founder-img {
  margin-top: 10rem;
}

/********** PRODUCTS  **********/

a.memphis-drum-shop {
  /* color: blue; */
 color: white;
 text-decoration-line: underline;
}

a.memphis-drum-shop:hover {
  color: var(--accent-color);
}


.products-heading {
  color: var(--accent-color);
  display: inline;
  font-size: 4rem;
}

.products-heading-div{
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.products-supporting-text {
  margin-left: 1.5rem; 
  margin-right: 1.5rem; 

}

.products-img {
  background-color: white;
  border: 2px solid blue;
}

.product-entry {
  margin: 40px 0px;
  padding: 0;
}

.all-products-header {
  color: white;
  font-size: 50px;
  margin-top: 25px;
}
.product-name {
  background-color: black;
  color: white;
  margin: 0;
}

.card-body {
  margin: 0;
  padding: 0;
}

.card-image-top {
  padding: 0;
}

.item-price {
  color: white;
}

.item-description {
  color: white;
}

.card {
  height: auto;
  width: 90%;
  margin: 1.5rem;
  padding: 0;
  border: 5px solid var(--accent-color);
  border-radius: 3%;
}

.product-details {
  height: auto;
  width: 60%;
  border: 5px solid var(--accent-color);
  border-radius: 1%;
  padding: 0;
}

.drumstick-details {
  margin-top: 9rem; 
  margin-bottom: 4rem;
}

.card-body-link {
  color: black;
}

.product-model {
  background-color: var(--nav-bg-color);
  border-top: solid var(--accent-color) 5px;
  color: var(--primary-text-color);
  padding-top: 8px;
  padding-bottom: 4px;
  margin-bottom: 0;
}

.list-group-item {
  background-color: var(--nav-bg-color);
  border-top: solid var(--accent-color) 5px;
  color: var(--primary-text-color);
  padding-top: 8px;
  padding-bottom: 4px;
  margin-bottom: 0;
}

.border-warning {
  border: var(--accent-color);
}

/* ********** NEWSLETTER ********** */

.newsletter-header {
  color: var(--accent-color);
  /* margin-top: 9rem; */
  margin-bottom: 1.5rem;
  margin-top: 10rem;
  text-align: center;
}

.subscribe-button {
  background-color: var(--accent-color);
  border-radius: 10%;
  font-weight: 400;
  width: 7rem;
  height: auto;
  padding: 5px 10px;
  margin-top: 1rem;
}

.newsletter-input {
  padding-left: 1rem;
}

.newsletter-supporting-text {
  color: var(--primary-text-color);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* FORM */

.form {
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 300 px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
}

/*    FOOTER    */

.footer {
  background-color: var(--nav-bg-color);
  /* color: white; */
  /* font-weight: 100; */
  margin-bottom: 0;
  margin-top: 2rem;
  padding-bottom: 0;
}

.review-announcement h1 {
  color: var(--accent-color);
  font-size: 5rem;
}

.review-block:hover .review-announcement {
  display: none;
}

.pipe {
  margin-bottom: 0;
  padding: 0;
}

.down-arrows {
  margin-top: 0;
  padding: 0;
}

.review {
  height: 200px;
  width: 60%;
  color: white;
  text-align: justify;
  position: relative;
  margin-bottom: 20rem;
}

.review-quote-left {
  font-size: 3rem;
  margin: 0 .75rem 0 0;
  position: relative;
  text-align: left;
  color: var(--accent-color);

}

.review-quote-right {
  font-size: 3rem;
  margin: 0 0 0 .75rem;
  position: relative;
  text-align: right;
  color: var(--accent-color);
}


.review-text {
  display: inline-block;
  font-size: 30px;
  padding: 0;
  margin: 0;
  text-align: justify;
}

.reviews-heading {
  font: var(--default-text);
  font-size: 3rem;
}

.slide-from-left {
  position: absolute;
  left: -500px;
  transition-duration: 1s;
  transition-timing-function: linear;
  visibility: hidden;
  transition-property: all;
}

.slide-from-right {
  position: relative;
  top: 12rem;
  right: -500px;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-property: all;
  visibility: hidden;
}

.review-block:hover .slide-from-left {
  left: 17%;
  visibility: visible;
}

.review-block:hover .slide-from-right {
  right: -25%;
  visibility: visible;
}

/* ICOMOON ICONS */

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* MEDIA QUERIES */

@media (max-width: 767px){
  .hamburger {
    padding-top: 5px;
    align-content: flex-end;
  }

  .about {
    margin-bottom: 5rem;
  }
}